/* $color-primary-light: #7C8288;
$color-primary: #364652;
$color-primary-dark: #303F49;

$color-secondary-light: #E3B583;
$color-secondary: #DB9D47;
$color-secondary-dark: #C48C40;

$color-success-light: #4BCC50;
$color-success: #1CA421;
$color-success-dark: #148A03;

$color-warning-light: #F8D845;
$color-warning: #FFD100;
$color-warning-dark: #E8BE00;

$color-error-light: #F3554A;
$color-error: #c61e11;
$color-error-dark: #BB1408;

$color-black-light: #2D2D2D;
$color-black: #1B1B1B;
$color-black-dark: #000000;

$color-grey-light: #EAEAEA;
$color-grey: #A2AAAD;
$color-grey-twilight: #e5e5e5;
$color-grey-dark: #637381;

$color-white-light: #FFFFFF;
$color-white: #FAFAFA;
$color-white-dark: #F5F5F5; */

body {
    background-color: #FAFAFA;
    margin: 0;
    font-family: "Galyon Regular";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    line-height: 1.1;
    color: white;
    font-weight: normal;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background-color: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}