/* $color-primary-light: #7C8288;
$color-primary: #364652;
$color-primary-dark: #303F49;

$color-secondary-light: #E3B583;
$color-secondary: #DB9D47;
$color-secondary-dark: #C48C40;

$color-success-light: #4BCC50;
$color-success: #1CA421;
$color-success-dark: #148A03;

$color-warning-light: #F8D845;
$color-warning: #FFD100;
$color-warning-dark: #E8BE00;

$color-error-light: #F3554A;
$color-error: #c61e11;
$color-error-dark: #BB1408;

$color-black-light: #2D2D2D;
$color-black: #1B1B1B;
$color-black-dark: #000000;

$color-grey-light: #EAEAEA;
$color-grey: #A2AAAD;
$color-grey-twilight: #e5e5e5;
$color-grey-dark: #637381;

$color-white-light: #FFFFFF;
$color-white: #FAFAFA;
$color-white-dark: #F5F5F5; */

body {
    background-color: #FAFAFA;
    margin: 0;
    font-family: "Galyon Regular";
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    background-image: url("https://www.singlestore.com/images/cms/blog-posts/img_blog_post_featured_oreilly-ai-book.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(23, 23, 176);
    opacity: 0.3;
  }

  .header-section {
    position: relative;
    padding: 15% 0 15%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "Galyon Regular";
  }

.title{
    position: relative;
    left: 100px;
    top: -100px;
}

.section-wrap {
    padding-top: 400px;
    background-color: white;
    align-content: center;
}  

.section {
    position: relative;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }

.button {
    height: 26px;
    width: 125px;
    flex: 0 0 80px;
    border: none;
    outline: 0;
    margin-top: 10px;
    color: white;
    background-color: #DB9D47;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}


.image{
    justify-content: center;
    max-width: 900px;
    max-height: 900px;
}
